{% extends 'layout.html' %}
{% block body %}
<body>
     <br><br><br><br><br>
    <style>
        #container {
            margin: 0px auto;
            width: 320px;
            height: 320px;
        }
        #videoElement {
            width: 320px;
            height: 320px;
        }
        </style>
        <!-- <div id="container">
            <video autoplay="true" id="videoElement">
            
            </video>
        </div> -->
        <script>
        
        </script>
        <!-- <script>
            var video = document.querySelector("#videoElement");
        
        if (navigator.mediaDevices.getUserMedia) {
          navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
              video.srcObject = stream;
            })
            .catch(function (err0r) {
              console.log("Something went wrong!");
            });
        }
        </script> -->
        <!-- https://forms.gle/kg71grjKEMUUVhKQ9 -->
  <!-- <center><a href="https://forms.gle/kg71grjKEMUUVhKQ9"><button class="btn btn-primary form-group justify-content-center" value="Take Exam" style="background-color:green;">Take Exam</button></a></center> -->
  <br><br><br><br><br><br><br>
</body>
</html>
{% endblock %}